.name-tag{
    width: 150px;
    height: 150px;
    background-color: rgb(52, 84, 24);
    display: inline-block;
    border: 1px solid white;
    color: beige;
    text-align: center;
    line-height: 150px;
}